nodered-fall-detection-production-debug.json
[
  {
    "id": "fall-detection-debug-full",
    "type": "tab",
    "label": "Fall Detection - Production (With Debug)",
    "disabled": false,
    "info": "Production fall detection system with comprehensive debugging at every step. Detects falls via Flask, sends Telegram alerts, and logs all events."
  },
  {
    "id": "polling-trigger",
    "type": "inject",
    "z": "fall-detection-debug-full",
    "name": "Poll Every 2 Seconds",
    "props": [{"p": "payload"}],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 100,
    "y": 100,
    "wires": [["get-detection"]]
  },
  {
    "id": "get-detection",
    "type": "http request",
    "z": "fall-detection-debug-full",
    "name": "Get Detection",
    "method": "GET",
    "ret": "json",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/api/detection",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 300,
    "y": 100,
    "wires": [["debug-1-flask-raw", "check-fall"]]
  },
  {
    "id": "debug-1-flask-raw",
    "type": "debug",
    "z": "fall-detection-debug-full",
    "name": "1️⃣ Flask Raw Response",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "msg",
    "x": 520,
    "y": 40,
    "wires": []
  },
  {
    "id": "check-fall",
    "type": "function",
    "z": "fall-detection-debug-full",
    "name": "Check if Fall",
    "func": "// Parse JSON if payload is a string\nlet detection = msg.payload;\nif (typeof detection === 'string') {\n    try {\n        detection = JSON.parse(detection);\n        node.warn('✅ PARSED JSON from string');\n    } catch (e) {\n        node.warn('❌ Failed to parse JSON: ' + e.message);\n        return null;\n    }\n}\n\nnode.warn('CHECK FALL - Payload: ' + JSON.stringify(detection));\nnode.warn('fall_detected value: ' + detection.fall_detected + ' (type: ' + typeof detection.fall_detected + ')');\n\nif (detection && detection.fall_detected === true) {\n    node.warn('✅ FALL DETECTED - Passing to next node');\n    node.status({fill:\"red\",shape:\"dot\",text:\"Fall detected!\"});\n    msg.payload = detection;\n    return msg;\n}\nnode.status({fill:\"green\",shape:\"dot\",text:\"No fall\"});\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 100,
    "wires": [["debug-2-fall-detected", "prepare-telegram"]]
  },
  {
    "id": "debug-2-fall-detected",
    "type": "debug",
    "z": "fall-detection-debug-full",
    "name": "2️⃣ Fall Detected (Filtered)",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 740,
    "y": 40,
    "wires": []
  },
  {
    "id": "prepare-telegram",
    "type": "function",
    "z": "fall-detection-debug-full",
    "name": "Prepare Telegram Message",
    "func": "let detection = msg.payload;\n\n// Parse JSON if it's a string\nif (typeof detection === 'string') {\n    try {\n        detection = JSON.parse(detection);\n    } catch (e) {\n        node.warn('❌ Failed to parse detection: ' + e.message);\n        return null;\n    }\n}\n\nconst now = new Date();\nconst timestamp = now.toLocaleString();\n\nnode.warn('PREPARE MESSAGE - Detection: ' + JSON.stringify(detection));\n\nconst messageText = `🚨 FALL DETECTED 🚨\\n\\n📍 Location: Living Room\\n⏰ Time: ${timestamp}\\n📊 Confidence: ${(detection.confidence * 100).toFixed(1)}%\\n📷 Camera: camera-001\\n\\n⚠️ IMMEDIATE ACTION REQUIRED\\nCheck on resident immediately!`;\n\n// Telegram sender node expects: payload (object with content and type), chatId (NUMBER)\nmsg.payload = {\n    content: messageText,\n    type: 'message'\n};\nmsg.chatId = 5145469528;  // Must be a number, not a string\n\nnode.warn('MESSAGE PAYLOAD: ' + messageText);\nnode.warn('CHAT ID: ' + msg.chatId + ' (type: ' + typeof msg.chatId + ')');\nnode.warn('TYPE: message');\nnode.warn('FINAL MESSAGE OBJECT: ' + JSON.stringify({payload: msg.payload, chatId: msg.chatId}));\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Message prepared\"});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 100,
    "wires": [["debug-3-message-prepared", "send-telegram"]]
  },
  {
    "id": "debug-3-message-prepared",
    "type": "debug",
    "z": "fall-detection-debug-full",
    "name": "3️⃣ Message Prepared (For Telegram Node)",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "msg",
    "x": 960,
    "y": 40,
    "wires": []
  },
  {
    "id": "send-telegram",
    "type": "telegram sender",
    "z": "fall-detection-debug-full",
    "name": "Telegram Bot",
    "bot": "",
    "x": 960,
    "y": 100,
    "wires": [["debug-4-telegram-response", "debug-telegram-sent", "debug-5-telegram-error"]]
  },
  {
    "id": "debug-4-telegram-response",
    "type": "debug",
    "z": "fall-detection-debug-full",
    "name": "4️⃣ Telegram Response (Success)",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "✅ Response: {{payload}}",
    "statusType": "auto",
    "x": 1180,
    "y": 40,
    "wires": []
  },
  {
    "id": "debug-5-telegram-error",
    "type": "debug",
    "z": "fall-detection-debug-full",
    "name": "5️⃣ Telegram Error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "❌ Error: {{error}}",
    "statusType": "auto",
    "x": 1180,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug-telegram-sent",
    "type": "debug",
    "z": "fall-detection-debug-full",
    "name": "✅ Telegram Sent Successfully",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "msg",
    "statusVal": "✅ Message sent!",
    "statusType": "auto",
    "x": 1180,
    "y": 150,
    "wires": []
  },
  {
    "id": "debug-6-all-messages",
    "type": "debug",
    "z": "fall-detection-debug-full",
    "name": "6️⃣ All Messages (Console Only)",
    "active": true,
    "tosidebar": false,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "msg",
    "x": 300,
    "y": 200,
    "wires": []
  },
  {
    "id": "debug-trigger",
    "type": "inject",
    "z": "fall-detection-debug-full",
    "name": "Manual Test - Simulate Fall",
    "props": [
      {
        "p": "payload",
        "v": "{\"fall_detected\":true,\"confidence\":0.58,\"aspect_ratio\":1.78,\"motion\":505,\"timestamp\":1770894042.97}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 100,
    "y": 200,
    "wires": [["debug-6-all-messages", "check-fall"]]
  }
]
