nodered/nodered-fall-detection-debug.json
[
  {
    "id": "fall-detection-debug",
    "type": "tab",
    "label": "Fall Detection - Debug",
    "disabled": false,
    "info": "Fall detection with detailed debugging"
  },
  {
    "id": "polling-trigger",
    "type": "inject",
    "z": "fall-detection-debug",
    "name": "Poll Every 2 Seconds",
    "props": [{"p": "payload"}],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 100,
    "y": 100,
    "wires": [["get-detection"]]
  },
  {
    "id": "get-detection",
    "type": "http request",
    "z": "fall-detection-debug",
    "name": "Get Detection",
    "method": "GET",
    "ret": "json",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/api/detection",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 300,
    "y": 100,
    "wires": [["debug-raw", "check-fall"]]
  },
  {
    "id": "debug-raw",
    "type": "debug",
    "z": "fall-detection-debug",
    "name": "Flask Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 500,
    "y": 40,
    "wires": []
  },
  {
    "id": "check-fall",
    "type": "function",
    "z": "fall-detection-debug",
    "name": "Check if Fall",
    "func": "if (msg.payload && msg.payload.fall_detected === true) {\n  node.status({fill:\"red\",shape:\"dot\",text:\"Fall detected! Sending alert...\"});\n  return msg;\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 100,
    "wires": [["send-telegram"]]
  },
  {
    "id": "send-telegram",
    "type": "function",
    "z": "fall-detection-debug",
    "name": "Send Telegram",
    "func": "const detection = msg.payload;\nconst now = new Date();\nconst timestamp = now.toLocaleString();\n\nmsg.payload = {\n  chatId: 5145469528,\n  type: 'message',\n  text: `🚨 FALL DETECTED 🚨\\n\\n📍 Location: Living Room\\n⏰ Time: ${timestamp}\\n📊 Confidence: ${(detection.confidence * 100).toFixed(1)}%\\n📷 Camera: camera-001\\n\\n⚠️ IMMEDIATE ACTION REQUIRED\\nCheck on resident immediately!`\n};\n\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Sending to Telegram...\"});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 100,
    "wires": [["telegram-sender"]]
  },
  {
    "id": "telegram-sender",
    "type": "telegram sender",
    "z": "fall-detection-debug",
    "name": "Telegram Bot",
    "bot": "",
    "x": 860,
    "y": 100,
    "wires": [["debug-telegram-response"]]
  },
  {
    "id": "debug-telegram-response",
    "type": "debug",
    "z": "fall-detection-debug",
    "name": "Telegram Response",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "Response received",
    "statusType": "auto",
    "x": 1020,
    "y": 100,
    "wires": []
  }
]
